@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.pink {
  color: rgb(223, 64, 91);
}
li {
  list-style: none;
}
.container {
  padding: 56px 0;
}
section {
  padding: 70px 0;
}
.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}
.btn {
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid rgb(223, 64, 91);
  background-color: white;
  color: rgb(223, 64, 91);
  font-size: 18px;
  font-weight: 600;
  transition: all 400ms ease;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(223, 64, 91);
  color: white;
}

/*  
NAV
*/
.nav__container {
  width: 100%;
  max-width: 1300px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__logo {
  font-size: 34px;
  font-weight: bold;

  /** TEXT GRADIENT */
  color: #fa7da7;
  background-image: -webkit-linear-gradient(
    0deg,
    #fa7da7 27%,
    #8729cf 66%,
    #eaf54e 92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__link {
  margin-right: 28px;
  font-size: 16px;
  font-weight: 500;
}

.nav__link--anchor {
  transition: all 400ms ease;
  color: rgba(0, 0, 0, 0.788);
}

.nav__link--anchor:hover {
  color: rgb(223, 64, 91);
}

.nav__link--primary {
  border: 1px solid rgb(223, 64, 91);
  padding: 12px 24px;
  border-radius: 24px;
  color: rgb(223, 64, 91);
  margin-left: 18px;
}

.nav__link--primary:hover {
  background-color: rgb(223, 64, 91);
  border-color: white;
  color: white;
}
/*
LANDING
*/
#landing {
  position: relative;
  z-index: 0;
}

#landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom right, #ffaf7b, #d76d77, #3a1c71);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 25%);
}
.landing__wrapper {
  display: flex;
  align-items: center;
}
.landing__left {
  width: 50%;
  margin-right: 24px;
}
.landing__span {
  font-size: 36px;
  font-weight: 700;
  color: rgb(223, 64, 91);
}
.landing__header {
  font-size: 67px;
  font-weight: 700;
  margin-top: 12px;
}
.landing__para {
  font-size: 18px;
  color: darkgray;
  margin-top: 12px;
  margin-bottom: 24px;
}

.landing__right {
  width: 50%;
}

.landing__img {
  width: 100%;
}

/*
ABOUT
*/

.about__wrapper {
  display: flex;
  align-items: center;
}
.about__left {
  width: 50%;
  margin-right: 24px;
}
.about__left--img {
  width: 95%;
  border-radius: 20px;
}
.about__right {
  width: 50%;
}
.about__span {
  font-size: 18px;
  font-weight: 600;
  color: rgb(223, 64, 91);
}
.about__header {
  font-size: 54px;
  margin: 14px 0;
}
.about__para {
  font-size: 16px;
  color: darkgray;
}
.about__right--text {
  margin-bottom: 28px;
}
.about__info--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info1 {
  font-weight: 300;

  color: white;
  padding: 34px 24px;
  font-size: 24px;
  background: rgb(149, 61, 173);
  background: linear-gradient(
    308deg,
    rgba(149, 61, 173, 0.9051995798319328) 43%,
    rgba(213, 50, 114, 1) 76%
  );
  border-radius: 50px;
}
.info2 {
  font-weight: 300;
  color: white;
  padding: 32px 10px;
  font-size: 24px;
  background: rgb(149, 61, 173);
  background: linear-gradient(
    308deg,
    rgba(149, 61, 173, 0.9051995798319328) 43%,
    rgba(213, 50, 114, 1) 76%
  );
  border-radius: 50px;
}
.info3 {
  color: white;
  font-weight: 300;
  padding: 32px 12px;
  font-size: 24px;
  background: rgb(149, 61, 173);
  background: linear-gradient(
    308deg,
    rgba(149, 61, 173, 0.9051995798319328) 43%,
    rgba(213, 50, 114, 1) 76%
  );
  border-radius: 50px;
  cursor: default;
}

/*
FEATURED
*/
.section__title {
  font-size: 48px;
  text-align: center;
}

.homes {
  display: flex;
  padding-top: 24px;
}
.home {
  width: calc(100% / 3);
  margin: 0 12px;
  padding: 12px;
  text-align: center;
  box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  transition: all 400ms ease;
}
.home:hover {
  transform: scale(105%) translateY(-4%);
}

.home__img {
  width: 80%;
  height: 270px;
  border-radius: 20px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

/*
CONTACT
*/
.contact__span {
  text-align: center;
  color: rgb(223, 64, 91);
  font-size: 24px;
  font-weight: 700;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 29px 9px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.contact-form {
  background-color: #f7f2f2;
  padding: 20px;

  width: 100%;
}

.contact-form label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: no-drop;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

/*

FOOTER

*/

footer {
  height: 10vh;
  background: rgb(237, 151, 182);
  background: linear-gradient(
    308deg,
    rgba(237, 151, 182, 0.9051995798319328) 12%,
    rgba(236, 147, 179, 1) 14%,
    rgba(213, 50, 114, 1) 84%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  text-align: center;
  color: white;
  font-weight: 400;
}

/*
PROPERTIES
PAGE
*/
#properties {
  height: 100vh;
}
.properties__form {
  position: relative;
}
.properties__input {
  margin: 12px 0;
}

/*
SLIDER
*/
aside {
  width: 20%;
}

.slideContainer {
  width: 100%;
  position: relative;
  margin-top: 24px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: -webkit-linear-gradient(
    0deg,
    #fa7da7 27%,
    #8729cf 66%,
    #eaf54e 92%
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 1px black;
  margin-top: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.slider::after {
  content: "1,000,000";
  color: rgb(0, 0, 0);
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 25%;
}
.slider::before {
  content: "200,000";
  color: rgb(8, 3, 3);
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 25%;
}

.value__para {
  margin-top: 20px;
}

/*
BEDROOM
FILTER
*/
.bedroom__container {
  margin-top: 24px;
}

.bedroom__filter {
  width: 100%;
  display: flex;
}
.bedroom__input {
  width: 50%;
  height: 35px;
}

/*
SUBMIT BTN
*/
.submit__btn {
  position: absolute;
  bottom: -20%;
}
