@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.pink {
  color: rgb(223, 64, 91);
}
li {
  list-style: none;
}
.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}
.btn {
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid rgb(223, 64, 91);
  background-color: white;
  color: rgb(223, 64, 91);
  font-size: 18px;
  font-weight: 600;
  transition: all 400ms ease;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(223, 64, 91);
  color: white;
}

/*  
NAV
*/
.nav__container {
  width: 100%;
  max-width: 1300px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__logo {
  font-size: 34px;
  font-weight: bold;

  /** TEXT GRADIENT */
  color: #fa7da7;
  background-image: -webkit-linear-gradient(
    0deg,
    #fa7da7 27%,
    #8729cf 66%,
    #eaf54e 92%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__link {
  margin-right: 28px;
  font-size: 16px;
  font-weight: 500;
}

.nav__link--anchor {
  transition: all 400ms ease;
  color: rgba(0, 0, 0, 0.788);
}

.nav__link--anchor:hover {
  color: rgb(223, 64, 91);
}

.nav__link--primary {
  border: 1px solid rgb(223, 64, 91);
  padding: 12px 24px;
  border-radius: 24px;
  color: rgb(223, 64, 91);
  margin-left: 18px;
}

.nav__link--primary:hover {
  background-color: rgb(223, 64, 91);
  border-color: white;
  color: white;
}
/*
LANDING
*/
#landing {
  padding: 100px 0;
}
.landing__wrapper {
  display: flex;
  align-items: center;
}
.landing__left {
  width: 50%;
  margin-right: 24px;
}
.landing__span {
  font-size: 36px;
  font-weight: 700;
  color: rgb(223, 64, 91);
}
.landing__header {
  font-size: 67px;
  font-weight: 700;
  margin-top: 12px;
}
.landing__para {
  font-size: 18px;
  color: darkgray;
  margin-top: 12px;
  margin-bottom: 24px;
}

.landing__right {
  width: 50%;
}

.landing__img {
  width: 100%;
}
